<!-- Extends -->
{% extends "base.html" %}

<!-- Static -->
{% load static %}

<!-- Título -->
{% block titulo %}Ingreso{% endblock %}

<!-- Contenido -->
{% block content %}

<form class="loginFrame"
      method="POST">
  <!-- Token -->
  {% csrf_token %}

  <!-- Mensaje de Error -->
  {% if error is not None %}
  <div class="msjError">
    <p>
      {{ error }}
    </p>
  </div>
  {% endif %}

  <!-- Formulario -->
  {{ form.as_p }}

  <button class="apBoton"
          type="submit">Ingresar</button>

</form>

<form class="loginFrame"
      action="{% url 'registro' %}">
  Si no tenés usuario? Regístrate aquí --
  <button class="apBoton"
          type="submit">Registro</button>
</form>

<!-- Fin del Bloque -->
{% endblock %}