<!-- Extends -->
{% extends "base.html" %}

<!-- Título de Página -->
{% block title %}Registro{% endblock %}

<!-- Static -->
{% load static %}

<!-- Título -->
{% block titulo %}Registro de Usuarios{% endblock titulo %}

<!-- Contenido -->
{% block content %}

<form class="loginFrame"
      method="POST">
    <!-- Token -->
    {% csrf_token %}
    <!-- Fornulario -->
    {{ form.as_p }}
    <button class="apBoton"
            type="submit">Crear</button>
</form>

<!-- Fin del Bloque -->
{% endblock content %}