* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #303030;
}

.encabezado {
  background-color: black;
  color: white;
  padding: 5px 15px;
}

.encabezado h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

.encabezado h2 {
  margin: 10px 0px 5px;
  width: 95%;
}

.encabezado h3 {
  margin: 5px 0px;
  text-align: left;
}

.titulo {
  background-color: #0080ff;
  color: aliceblue;
  text-align: center;
  padding: 10px 0px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.navbar {
  background-color: #303030;
  display: flex;
  justify-content: right;
  padding: 5px 20px;
  border-radius: 10px;
  margin-top: 15px;
}

.navbar h4 {
  margin: 0px 0px;
}

.navbar a {
  color: aliceblue;
  padding: 0px 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #0080ff;
}

.loginFrame {
  margin: auto;
  margin-bottom: 15px;
  width: 40%;
  background-color: #0080ff;
  border-radius: 10px;
  padding: 15px;
  color: white;
  text-align: center;
  font-weight: bold;
}

.loginFrame span {
  font-weight: normal;
}

.loginFrame ul {
  font-weight: normal;
  text-align: left;
}

.loginFrame input {
  margin: 2px 35px 5px 35px;
  width: 65%;
  border-radius: 5px;
  padding: 5px;
}

.msjError {
  margin: auto;
  width: 90%;
  background-color: pink;
  border: #c00000;
  border-radius: 10px;
  padding: 5px 15px;
}

.msjError p {
  color: #c00000;
  font-weight: bold;
}

.apBoton {
  color: white;
  background-color: #0080ff;
  border-radius: 10px;
  padding: 5px 15px;
  margin: 5px;
  font-size: large;
}

.apBoton:hover {
  background-color: #48a0ff;
}

.listaFrame {
  margin: auto;
  width: 85%;
  background-color: #0080ff;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.itemFrame {
  margin: 5px auto;
  width: 85%;
  background-color: #e5f2ff;
  color: black;
  border-radius: 10px;
  padding: 10px 20px;
}

.itemFrame label {
  margin: 2px 5px 5px 35px;
  color: black;
  text-align: right;
  font-weight: bold;
  padding: 5px;
}

.itemFrame input {
  margin: 2px 35px 5px 0px;
  width: 65%;
  border: 1 solid #c0c0c0;
  border-radius: 5px;
  padding: 5px;
}

.itemFrameTitulo {
  color: black;
  display: block;
  width: 90%;
  margin: auto;
  padding: 5px;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
}

.itemFrameDescrip {
  color: black;
  display: block;
  width: 90%;
  margin: auto;
  padding: 5px;
  text-decoration: none;
  font-size: medium;
  font-weight: normal;
}

.itemFrameFalse {
  margin: 5px auto;
  width: 85%;
  background-color: #e5f2ff;
  color: black;
  border-radius: 10px;
  padding: 10px 20px;
}

.itemFrameFalse:hover {
  background-color: #99ccff;
  color: black;
}

.itemFrameTrue {
  margin: 5px auto;
  width: 85%;
  background-color: #d0d0d0;
  color: black;
  border-radius: 10px;
  padding: 10px 20px;
  text-decoration: none;
}

.itemFrameTrue:hover {
  background-color: #b0b0b0;
  color: black;
}

.btnChkBoxTrue {
  float: left;
  display: block;
  background-color: #303030;
  color: #303030;
  border: 2px solid #303030;
  font-size: large;
  text-decoration: none;
  padding: 3px 5px;
  margin-top: 5px;
  border-radius: 8px;
}

.btnChkBoxFalse {
  float: left;
  display: block;
  background-color: #e0e0e0;
  color: #e0e0e0;
  border: 2px solid #303030;
  font-size: large;
  text-decoration: none;
  padding: 3px 5px;
  margin-top: 5px;
  border-radius: 8px;
}

.btnBorrar {
  float: right;
  display: block;
  background-color: #d00000;
  color: white;
  border: 2px solid #d00000;
  font-size: large;
  text-decoration: none;
  padding: 5px 8px;
  margin-top: 5px;
  border-radius: 8px;
}

.btnBorrar:hover {
  background-color: #f00000;
  color: white;
}

.btnNuevo {
  background-color: #0080ff;
  color: #ffffff;
  border: 2px ridge #0080ff;
  font-size: large;
  margin: 10px 30px;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
}

.btnNuevo:hover {
  background-color: #48a0ff;
}

.lnkPlano {
  color: #ffffff;
  text-decoration: none;
}