<!-- Extends -->
{% extends "about.html" %}

<!-- Static -->
{% load static %}

<!-- Título -->
{% block titulo %}Lista de Tareas{% endblock titulo %}

<!-- Contenido -->
{% block content %}
<div class="listaFrame">
  <!-- Lista de Items -->
  {% for tarea in tareas %}
  <div class="itemFrame">
    {% if tarea.completa == True %}
    <button class="btnChkBoxTr">■</button>
    {% else %}
    <button class="btnChkBoxFl">■</button>
    {% endif %}
    {{tarea.titulo}}
    <button class="btnBorrar">X</button>
    <div class="listaDescrip">{{tarea.descrip}}</div>
  </div>
  {% endfor %}
  <br/>
  <button class="apButton" ><a class="lnkPlano" href="{% url "nuevatarea" %}">Nueva Tarea</a></button>
  <!-- Bloque Nueva Tarea -->
  {% block nuevaTarea %}{% endblock nuevaTarea %}
</div>

<!-- Fin del Bloque -->
{% endblock content %}
