<!-- Extends -->
{% extends "base.html" %}

<!-- Static -->
{% load static %}

<!-- Título -->
{% block titulo %}Ingreso{% endblock %}

<!-- Contenido -->
{% block content %}

<form class="loginFrame" method="POST">
  <!-- Token -->
  {% csrf_token %}

  <!-- Mensaje de Error -->
  <p style="color: red; font-weight: bold">
    {{ error }}
  </p>

  <!-- Formulario -->
  {{ form.as_p }}

  <button class="apBoton">Ingresar</button>
  
</form>

<form class="loginFrame" action="{% url 'registro' %}">
  Si no tenés usuario? Regístrate aquí -- 
  <button class="apBoton">Registro</button>
</form>
  

<!-- Fin del Bloque -->
{% endblock %}
